/*!
 * Python Cool Stuff
 */

@import "../components/normalize.scss/normalize";


/*
 * Colors
 */

$bg-color: #FFFFFF;
$primary-color: #376A94;
$secondary-color: #FFBC29;


/*
 * Styles
 */

body {
	background: $bg-color;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
	padding: 8% 4%;
	text-align: center;

	h1 {
		color: $primary-color;
		font-size: 4em;
		margin: 0;
	}

	h2 {
		color: lighten($primary-color, 30%);
		font-size: 1.3em;
		margin: 0 auto;
		max-width: 45%;
	}
}

main {
	padding: 1% 5%;

	article {
		margin-bottom: 4em;
	}

	h2 {
		border-top: 1px solid $primary-color;
		display: inline-block;
		margin: 0;

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	p {
		max-width: 50%;
		margin: 0.8em 0 0 0;

		em {
			color: darken($primary-color, 10%);
		}
	}

	pre {
		margin: 0 !important;
		padding: 0 !important;
	}

	code {
		background: $primary-color;
		color: lighten($primary-color, 50%);
		display: block;
		font-size: 0.9em;
		max-width: 50%;
		padding: 10px;
	}
}
